/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Noto+Sans:wght@400;700&display=swap');

:root {
    --brand-color: #FFCC4A;
    --background-color: #764A32;
    --background-color-light: #976245;
    --background-color-extra-light: #FFE3D3;

    --border-color: #EEEEEE;
    --text-color: #333;
    --text-color-brand: #563E00;
    --text-color-light: var(--background-color-extra-light);
    --price-color: #008253;
    --error-color: #8B0000;

    --border-radius: 5px;
    --content-width: 1200px;
    --content-min-width: 400px;
    --sub-header-height: 3.2rem;

    --spacing-sm: 0.5rem;
    --spacing: 0.8rem;
    --spacing-lg: 1.1rem;

    --font-size-sm: 0.9rem;
    --font-size: 1rem;
    --font-size-lg: 1.2rem;

    --box-shadow-header: 0px 4px 20px rgba(0, 0, 0, 0.22);
    --box-shadow-footer: 0px -4px 20px rgba(0, 0, 0, 0.22);
    --box-shadow-card: 1px 2px 10px rgba(0, 0, 0, 0.08);
}

body {
    font-size: var(--font-size);
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* BUTTONS */
button {
    height: 2.8rem;
    font-size: var(--font-size);
    font-weight: bold;
    text-decoration: none;
    padding: var(--spacing-sm) var(--spacing);
    background-color: white;
    border-radius: var(--border-radius);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

button.brand {
    background-color: var(--brand-color);
}

button.light {
    background-color: var(--background-color-light);
    color: white;
}

button.extra-light {
    background-color: var(--background-color-extra-light);
    color: var(--background-color);
}

button.white {
    background-color: white;
    color: var(--text-color);
}

button.underline {
    height: 100%;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
}

button.underline.selected {
    border-bottom-color: var(--brand-color);
}

button.large {
    height: auto;
    font-size: var(--font-size-lg);
    padding: var(--spacing) var(--spacing-lg);
}

/* SPACING */
.margin-top {
    margin-top: var(--spacing);
}

.margin-bottom {
    margin-bottom: var(--spacing);
}

.margin-left {
    margin-left: var(--spacing);
}

.margin-right {
    margin-right: var(--spacing);
}

.padding-lg {
    padding: var(--spacing-lg);
}

.padding-v-lg {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}

.padding-h-lg {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
}

/* LAYOUT */
.box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.box.row {
    flex-direction: row;
}

.box.center, .box.row.v-center, .box.h-center:not(.row) {
    align-items: center;
}

.box.center, .box.row.h-center, .box.v-center:not(.row) {
    justify-content: center;
}

.box.space-between {
    justify-content: space-between;
}

.fill {
    flex: 1;
}

.fill-height {
    height: 100%;
}

.container {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
}

/* TEXT */
p {
    margin: 0;
    color: inherit;
}

.logo, .slogan {
    color: white;
    margin: 0;
}

.logo {
    font-size: 2rem;
    font-family: 'New Rocker', serif;
}

.slogan {
    font-size: var(--font-size-sm);
}

/* UTILS */
.no-radius {
    border-radius: 0;
}

.text-white {
    color: white;
}

.text-dark {
    color: var(--text-color);
}
