/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Noto+Sans:wght@400;700&display=swap');

:root {
    --brand-color: #FFCC4A;
    --background-color: #764A32;
    --background-color-light: #976245;
    --background-color-extra-light: #FFE3D3;
    --background-color-gray: #EEE;
    --background-color-highlight: white;
    --background-color-overlay: rgba(0, 0, 0, 50%);
    --background-color-body: #e6e6e6;
    --background-color-default: white;

    --border-color: #EEEEEE;
    --border-color-dark: #c6c6c6;
    --border-color-focus: #333;
    --text-color: #333;
    --text-color-gray: #5e5e5e;
    --text-color-brand: #443100;
    --text-color-light: var(--background-color-extra-light);
    --text-color-default: #333;
    --price-color: #008253;
    --price-color-text: var(--price-color);
    --error-color: #8B0000;
    --error-color-text: white;

    --border-radius: 5px;
    --border-radius-lg: 8px;
    --modal-width: 325px;
    --modal-width-lg: 400px;
    --modal-width-xlg: 550px;
    --content-width: 1200px;
    --content-min-width: 400px;
    --lang-button-width: 4.2rem;
    --sub-header-height: 3.2rem;
    --button-height-xsm: 1.8rem;
    --button-height-sm: 2.4rem;
    --button-height: 2.7rem;
    --button-height-lg: 3.3rem;
    --button-icon-height-sm: 1.1rem;
    --button-icon-height: 1.3rem;
    --button-icon-height-lg: 1.8rem;
    --footer-height-offset: 7.3rem;

    --spacing-xsm: 0.3rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 0.7rem;
    --spacing: 0.8rem;
    --spacing-lg: 1.1rem;
    --spacing-xlg: 1.4rem;

    --font-size-xsm: 0.88rem;
    --font-size-sm: 0.93rem;
    --font-size: 1rem;
    --font-size-lg: 1.2rem;

    --box-shadow-header: 0px 10px 10px rgba(0, 0, 0, 0.16);
    --box-shadow-footer: 0px -3px 20px rgba(0, 0, 0, 0.1);
    --box-shadow-card: 1px 2px 10px rgba(0, 0, 0, 0.08);

    --footer-z-index: 8;
    --header-z-index: 9;
    --overlay-z-index: 10;
    --lang-button-z-index: 11;
    --theme-button-z-index: 11;
    --security-button-z-index: 11;
    --notification-z-index: 12;

    --hover-filter: brightness(95%);
    --transition-time: 0.1s;
}

:root body.dark{
    --background-color-body: #131313;
    --background-color-default: #333;
    --background-color-highlight: #090808;
    --text-color-default: white;
    --border-color: #555;
    --border-color-dark: #777;
    --border-color-focus: #cacaca;
    --price-color-text: #37FEB5;
    --error-color: #FF7474;
    --error-color-text: #000;
    --hover-filter: brightness(92%);
}

body {
    font-size: var(--font-size);
    font-family: 'Noto Sans', sans-serif;
    color: var(--text-color-default);
    background-color: var(--background-color-body);
    margin: 0;
    padding: 0;
    min-width: var(--content-min-width);
}

header {
    width: 100%;
    background-color: var(--background-color);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--background-color-highlight);
    box-shadow: var(--box-shadow-footer);
    z-index: var(--footer-z-index);
    color: var(--text-color-default);
}

ul, ol {
    color: var(--text-color-default);
    margin-top: 0;
    padding-left: var(--spacing-lg);
}

svg {
    height: var(--button-icon-height);
    width: var(--button-icon-height);
    color: inherit;
    margin-right: var(--spacing-sm);
}

/* HEADERS */
.nav-header {
    width: 100%;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-header);
    position: sticky;
    z-index: var(--header-z-index);
    top: 0;
}

.sub-header {
    height: var(--sub-header-height);
}

/* BUTTONS */
button {
    height: var(--button-height);
    font-size: var(--font-size);
    font-weight: bold;
    text-decoration: none;
    padding: var(--spacing-sm) var(--spacing);
    background-color: var(--background-color-default);
    color: inherit;
    border-radius: var(--border-radius);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-property: filter;
    transition-duration: var(--transition-time);
}

button:hover {
    filter: var(--hover-filter);
}

button.brand {
    background-color: var(--brand-color);
    color: var(--text-color-brand);
}

button.gray {
    background-color: var(--background-color-body);
    color: var(--text-color-default);
}

button.gray:hover {
    filter: var(--hover-filter);
}

body.dark button.gray:hover {
    filter: brightness(150%);
}

button.light {
    background-color: var(--background-color-light);
    color: white;
}

button.extra-light {
    background-color: var(--background-color-extra-light);
    color: var(--text-color);
}

button.white {
    background-color: white;
    color: var(--text-color);
}

button.success {
    background-color: var(--price-color);
    color: white;
}

button.error {
    background-color: #ff3939;
    color: white;
}

button.underline {
    height: 100%;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    font-size: var(--font-size-sm);
}

button.underline.selected {
    border-bottom-color: var(--brand-color);
}

button.large {
    height: var(--button-height-lg);
    font-size: var(--font-size-lg);
    padding: var(--spacing) var(--spacing-lg);
}

button.small,
button.extra-small {
    font-size: var(--font-size-sm);
    padding: var(--spacing-sm) var(--spacing);
    border-radius: var(--border-radius-lg);
}

button.small {
    height: var(--button-height-sm);
}

button.extra-small {
    height: var(--button-height-xsm);
}

button.square {
    padding: 0;
}

button.square:not(.small),
button.square:not(.extra-small) {
    width: var(--button-height);
}

button.small.square {
    padding: var(--spacing-sm);
    width: var(--button-height-sm);
}

button.extra-small.square {
    padding: 0.3rem;
    width: var(--button-height-xsm);
}

#btn_lang {
    width: var(--lang-button-width);
    background-color: var(--background-color-light);
    z-index: var(--lang-button-z-index);
}

#btn_lang > img {
    height: 90%;
}

#btn_lang > span {
    text-transform: uppercase;
    margin-left: var(--spacing-sm);
}

#btn_theme {
    background-color: var(--background-color-default);
    color: var(--text-color-default);
    z-index: var(--theme-button-z-index);
    border: 1px solid transparent;
}

#theme_icon_light,
body.dark #theme_icon_dark {
    display: flex;
}

#theme_icon_dark,
body.dark #theme_icon_light {
    display: none;
}

button svg {
    height: var(--button-icon-height);
    margin-left: var(--spacing-sm);
    margin-right: 0;
    color: inherit;
}

button.large svg {
    height: var(--button-icon-height-lg);
}

button.icon-left svg {
    margin-left: 0;
    margin-right: var(--spacing-sm);
}

button.show-overlay .btn-overlay {
    opacity: 1;
}

.btn-overlay {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--price-color);
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-time);
}

/* SPACING */
.margin-top {
    margin-top: var(--spacing);
}

.margin-bottom {
    margin-bottom: var(--spacing);
}

.margin-left {
    margin-left: var(--spacing);
}

.margin-left-lg {
    margin-left: var(--spacing-lg);
}

.margin-right {
    margin-right: var(--spacing);
}

.margin-right-sm {
    margin-right: var(--spacing-sm);
}

.margin-right-lg {
    margin-right: var(--spacing-lg);
}

.margin-top-sm {
    margin-top: var(--spacing-sm);
}

.margin-bottom-sm {
    margin-bottom: var(--spacing-sm);
}

.margin-top-lg {
    margin-top: var(--spacing-lg);
}

.margin-bottom-lg {
    margin-bottom: var(--spacing-lg);
}

.margin-left-lg {
    margin-left: var(--spacing-lg);
}

.padding-bottom {
    padding-bottom: var(--spacing);
}

.padding-top {
    padding-top: var(--spacing);
}

.padding-top-sm {
    padding-top: var(--spacing-sm);
}

.padding-bottom-sm {
    padding-bottom: var(--spacing-sm);
}

.padding {
    padding: var(--spacing);
}

.padding-right {
    padding-right: var(--spacing);
}

.padding-right-lg {
    padding-right: var(--spacing-lg);
}

.padding-left-lg {
    padding-left: var(--spacing-lg);
}

.padding-lg {
    padding: var(--spacing-lg);
}

.padding-v-lg {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}

.padding-h-lg {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
}

.padding-v-sm {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}

/* LAYOUT */
.box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.box.row {
    flex-direction: row;
}

.box.v-start:not(.row) {
    justify-content: flex-start;
}

.box.center, .box.row.v-center, .box.h-center:not(.row) {
    align-items: center;
}

.box.center, .box.row.h-center, .box.v-center:not(.row) {
    justify-content: center;
}

.box.space-between {
    justify-content: space-between;
}

.box.align-end:not(.row) {
    align-items: flex-end;
}

.box.row.align-end {
    justify-content: flex-end;
}

.fill {
    flex: 1;
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.container-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* CARDS */
.card {
    color: var(--text-color-default);
    background-color: var(--background-color-default);
    box-shadow: var(--box-shadow-card);
    padding: var(--spacing-lg) var(--spacing-xlg);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
}

body.dark .card {
    border-color: var(--border-color);
    box-shadow: none;
}

/* MODALS */
.modal {
    padding: 0;
    width: var(--modal-width);
    display: flex;
    flex-direction: column;
    color: var(--text-color-default);
}

.modal-lg {
    width: var(--modal-width-lg);
}

.modal-xlg {
    width: var(--modal-width-xlg);
}

.modal-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-bottom: 1px solid var(--border-color);
}

.modal-title {
    font-size: var(--font-size);
    font-weight: bold;
}

.modal-close {
    height: 100%;
    width: 1.6rem;
    line-height: 1.6rem;
    padding: 0;
    color: var(--text-color-default);
    font-weight: bold;
    font-size: 1.4rem;
}

.modal-close:hover {
    color: var(--error-color);
}

.modal-content {
    padding: var(--spacing-lg);
    padding-top: var(--spacing);
}

/* OVERLAYS */
.overlay {
    top: 0;
    left: 0;
    z-index: var(--overlay-z-index);
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-overlay);
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    box-sizing: border-box;
    min-width: var(--content-min-width);
}

.overlay.show, .overlay.event-handler {
    display: flex;
}

.overlay.event-handler {
    z-index: -1;
    cursor: pointer;
}

/* INPUTS */
input {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--font-size-sm);
    color: var(--text-color-default);
    background-color: var(--background-color-default);
    padding: var(--spacing-sm);
    box-sizing: border-box;
    border: 2px solid var(--border-color-dark);
    border-radius: var(--border-radius);
}

input[type=checkbox] {
    height: auto;
}

input:focus, input:active {
    outline: none;
    border-color: var(--border-color-focus);
}

.error input {
    border-color: var(--error-color);
}

.input-container {
    height: var(--button-height-sm);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing);
    border: 2px solid var(--border-color-dark);
    border-radius: var(--border-radius);
    position: relative;
}

.input-container.unit-spacing {
    padding-right: 4rem;
}

.input-container label {
    margin: 0;
}

.input-container input {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left: var(--spacing-sm);
}

.input-container input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}

.input-container .input-value-unit {
    height: 100%;
    width: 2rem;
    background-color: var(--border-color);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing);
    font-weight: bold;
    z-index: 2;
}

/* Hide default input spinners */
.no-spinner {
    -moz-appearance:textfield;
}

/*  For some input's that use type="number", we do not
    want to see the native browser spinner controls */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    font-weight: bold;
    box-sizing: border-box;
    background-color: var(--background-color-default);
    color: var(--text-color-default);
    border: 2px solid var(--border-color-dark);
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
}

select:focus {
    border-color: var(--border-color-focus);
}

.select-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.select-container > select {
    height: 100%;
    width: 100%;

    /* Hide default arrow */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select-container > svg {
    position: absolute;
    right: var(--spacing-sm);
    background-color: inherit;
    height: 100%;
    width: 1.5rem;
    margin: 0;

    /* Pointer events should be handled by the select element, not the icon */
    pointer-events: none;
}

label {
    font-size: var(--font-size-xsm);
    margin-bottom: var(--spacing-xsm);
    display: inline-block;
    color: var(--text-color-default);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
}

.error label {
    color: var(--error-color);
}

/* TEXT AND LINKS */
h1, h2, h3, h4, p {
    margin: 0;
    color: inherit;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    color: white;
    font-family: 'New Rocker', serif;
}

.slogan {
    color: var(--text-color-light);
    font-size: var(--font-size-sm);
    font-weight: normal;
    line-height: 0.8rem;
    margin-left: 0.2rem;
}

/* UTILS */
.no-radius {
    border-radius: 0;
}

.text-white {
    color: white;
}

.text-dark {
    color: var(--text-color);
}

.separator-top {
    border-top: 1px solid var(--border-color-dark);
}

.separator-bottom {
    border-bottom: 1px solid var(--border-color-dark);
}

.separator-right {
    border-right: 1px solid var(--border-color-dark);
}

.separator-bottom-light {
    border-bottom: 1px solid var(--background-color-light);
}

.no-icon-spacing > svg {
    margin: 0;
}

/* PRODUCTS */
.product-price, .order-product-price {
    font-size: var(--font-size-sm);
    font-weight: bold;
    color: var(--price-color-text);
    min-width: 6rem;
    text-align: right;
}

.order-product-price {
    font-size: var(--font-size);
}

.order-product-price-each {
    font-size: var(--font-size-sm);
    font-weight: bold;
}

.product-actions {
    border-top: 1px solid var(--border-color);
}

.product-description-item {
   font-size: var(--font-size-xsm);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.product-description-item > span:first-of-type {
    font-weight: bold;
}

.product-quantity {
    width: 1.5rem;
    height: var(--button-height-sm);
    margin: 0 var(--spacing-sm);
    padding: 0;
    border: 0;
    font-size: var(--font-size-sm);
    font-weight: bold;
    text-align: center;
}

.product-add-to-order {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
}

.product-description-order {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--spacing-lg);
}

.item-grid {
    padding-bottom: var(--footer-height-offset);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: var(--spacing);
    grid-column-gap: var(--spacing);
}

/* MENU */
.menu-item {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--border-radius-lg);
}

/* LOGIN */
#login_error_container {
    display: none;
    background-color: var(--error-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-xsm);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--error-color-text);
}

#login_error_container > svg {
    height: var(--button-icon-height);
    width: var(--button-icon-height);
    margin-right: var(--spacing-xsm);
}

.error #login_error_container {
    display: flex;
}

/* NOTIFICATIONS */
#notification_container {
    flex-direction: row;
    color: var(--text-color-default);
    background-color: transparent;
    position: fixed;
    bottom: 4.5rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--notification-z-index);
    pointer-events: none;
}

#notification {
    background-color: var(--price-color);
    color: white;
    font-weight: bold;
    font-size: var(--font-size-sm);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
}

#notification.show {
    opacity: 1;
}

#notification.error {
    background-color: var(--error-color);
    color: var(--error-color-text);
}
