/* Import base styles */
@import url('base.css');

.product-count {
    color: var(--text-color-light);
    font-size: var(--font-size-sm);
}

#btn_filter, #btn_checkout {
    padding: 0 1.6rem;
}

#vip_footer {
    font-size: var(--font-size-sm);
    background-color: var(--background-color);
    color: white;
}

.credit-container {
    background-color: var(--price-color);
}

#menu, #special_drinks, #order {
    display: none;
}

#btn_order_count {
    margin-left: var(--spacing-sm);
    background-color: var(--background-color-extra-light);
    color: var(--text-color);
    border-radius: 8px;
    padding: 0.05rem var(--spacing-sm);
    font-size: var(--font-size-sm);
}

#vip_footer,
#btn_vip_logout,
#btn_checkout,
#header_nav_order,
#checkout_vip_actions,
#order_empty_container,
#btn_special_drinks,
#special_drink_code,
#special_drink_container.show-code #special_drink_info,
#special_drink_container.show-code #special_drink_confirm,
body.logged-in #btn_vip_login,
body.view-order #header_nav_menu {
    display: none;
}

body.logged-in #vip_footer,
body.logged-in #btn_vip_logout,
body.view-order #header_nav_order,
body.view-order #btn_checkout,
body.logged-in #checkout_vip_actions,
body.logged-in #btn_special_drinks,
body.view-order.order-empty #order_empty_container,
#special_drink_container.show-code #special_drink_code {
    display: flex;
}

body.view-menu.subview-drinks #menu,
body.view-menu.subview-special-drinks #special_drinks {
    display: grid;
}

body.view-order #order {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: var(--spacing);
}

body.view-menu.subview-drinks #btn_drinks,
body.view-menu.subview-special-drinks #btn_special_drinks {
    border-bottom-color: var(--brand-color);
}

#order_total {
    font-size: var(--font-size);
}

#order_empty_message {
    margin-top: 2rem;
    background-color: var(--background-color-highlight);
    padding: var(--spacing);
    border-radius: var(--border-radius-lg);
}

#order_empty_label {
    font-weight: bold;
    font-size: var(--font-size-sm);
    color: var(--text-color-default);
}

#order_empty_illustration {
    margin-top: 5vh;
    margin-bottom: var(--spacing);
    height: 40vh;
}

body.view-menu #btn_menu,
body.view-order #btn_order {
    background-color: var(--background-color-body);
    border-color: var(--border-color-dark);
}

#special_drink_info {
    font-size: var(--font-size-xsm);
    margin: var(--spacing-lg) 0;
}

#special_drink_code {
    background-color: var(--background-color-body);
    font-size: 2.5rem;
    border-radius: var(--border-radius);
    letter-spacing: var(--spacing-sm);
}

@media screen and (max-width: 1050px) {
    #menu, #special_drinks, .product-description-order {
        grid-template-columns: 1fr 1fr;
    }
}

/* For mobile devices */
@media screen and (max-width: 740px) {
    #menu,
    #special_drinks {
        grid-template-columns: 1fr;
    }

    .product-description-order {
        grid-template-columns: 1fr;
    }
}
