/* Import base styles */
@import url('base.css');

header {
    width: 100%;
    background-color: var(--background-color);
}

.sub-header {
    height: var(--sub-header-height);
}

#header_nav {
    width: 100%;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-header);
    position: sticky;
    top: 0;
}

.product-count {
    color: var(--text-color-light);
    font-size: var(--font-size-sm);
}

#btn_filter, #btn_checkout {
    padding: 0 1.6rem;
}

#vip_footer {
    font-size: var(--font-size-sm);
    background-color: var(--background-color);
    color: white;
}

.credit-container {
    background-color: var(--price-color);
}

.menu-item {
    background-color: transparent;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--background-color-highlight);
    box-shadow: var(--box-shadow-footer);
    z-index: var(--footer-z-index);
    color: var(--text-color-default);
}

.menu-item {
    border: 1px solid transparent;
    border-radius: var(--border-radius-lg);
}


#menu, #special_drinks, #order {
    padding-bottom: var(--footer-height-offset);
    display: none;
}

#btn_order_count {
    margin-left: var(--spacing-sm);
    background-color: var(--background-color-extra-light);
    color: var(--text-color);
    border-radius: 8px;
    padding: 0.05rem var(--spacing-sm);
    font-size: var(--font-size-sm);
}

#vip_footer,
#btn_vip_logout,
#btn_checkout,
#header_nav_order,
#checkout_vip_actions,
#order_empty_label,
#btn_special_drinks,
body.view-order #header_nav_menu,
body.logged-in #btn_vip_login {
    display: none;
}

body.logged-in #vip_footer,
body.logged-in #btn_vip_logout,
body.view-order #header_nav_order,
body.view-order #btn_checkout,
body.logged-in #checkout_vip_actions,
body.logged-in #btn_special_drinks,
body.view-order.order-empty #order_empty_label {
    display: flex;
}

body.view-menu.subview-drinks #menu,
body.view-menu.subview-special-drinks #special_drinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: var(--spacing);
    grid-column-gap: var(--spacing);
}

body.view-order #order {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: var(--spacing);
}

body.view-menu.subview-drinks #btn_drinks,
body.view-menu.subview-special-drinks #btn_special_drinks {
    border-bottom-color: var(--brand-color);
}

.product-price, .order-product-price {
    font-size: var(--font-size-sm);
    font-weight: bold;
    color: var(--price-color-text);
    min-width: 6rem;
    text-align: right;
}

.order-product-price {
    font-size: var(--font-size);
}

.order-product-price-each {
    font-size: var(--font-size-sm);
    font-weight: bold;
}

.product-actions {
    border-top: 1px solid var(--border-color);
}

.product-description-item {
   font-size: var(--font-size-xsm);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.product-description-item > span:first-of-type {
    font-weight: bold;
}

.product-quantity {
    width: 1.5rem;
    margin: 0 var(--spacing-sm);
    padding: 0;
    border: 0;
    font-size: var(--font-size-sm);
    font-weight: bold;
    text-align: center;
}

.product-add-to-order {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
}

.product-description-order {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--spacing-lg);
}

#order_total {
    font-size: var(--font-size);
}

#order_empty_label {
    margin-top: 2rem;
    font-weight: bold;
    font-size: var(--font-size-sm);
    color: var(--text-color-default);
}

body.view-menu #btn_menu, body.view-order #btn_order {
    background-color: var(--background-color-body);
    border-color: var(--border-color-dark);
}

@media screen and (max-width: 1050px) {
    body.view-menu #menu, .product-description-order {
        grid-template-columns: 1fr 1fr;
    }
}

/* For tablets */
@media screen and (max-width: 800px) {
    #vip_footer_content {
        flex-direction: column;
    }

    .credit-container {
        width: 100%;
        justify-content: center;
    }

    .product-description-order {
        grid-template-columns: 1fr;
    }

    body.view-menu #menu {
        grid-template-columns: 1fr;
    }
}
