/* LOGIN */
.login {
    /* hides all login elements */
    display: none;
}

#login_background {
    /* The "shadow" created when the login is opend */
    z-index: 9;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 50%);
}

#login_form {
    /* POSITIONING */
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);

    /* CHILD POSITIONING */
    display: flex;
    flex-direction: column;

    /* APPEARANCE */
    background-color: white;
    width: 20%;
    min-width: 12rem;
    height: 22%;
    min-height: 10rem;
    border-radius: 3px;
}

#login_form_header {
    /* CHILD POSITIONING */
    display: inline;
    padding: 0.1rem 0;
    margin-bottom: 0.2rem;

    /* BORDER STYLE */
    border-bottom: 1px solid black;
}

.login_form_text {
    /* VERTICAL ALIGN */
    line-height: 2rem;
    vertical-align: middle;

    /* POSITIONING */
    float: left;
    margin: 0;
    padding: 0 0.2rem;

    /* FONT STYLE */
    font-size: 1.5rem;
    font-family: Arial;
    font-weight: 600;
}

#x-button {
    /* POSITIONING */
    float: right;
    margin: 0 0.2rem;
    padding: 0;

    /* BUTTON SIZE */
    width: 2rem;
    height: 2rem;
}

#x-button:hover {
    background-color: red;
}

#x-button:active {
    transform: translateY(1px);
    transform: translateX(1px);
}

#login_form_body {
    /* CHILD POSITIONING */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* SIZE */
    width: 100%;
    height: 100%;
}

.login_error {
    /* LOGIN ERROR, added to elements when a login failed */
    box-shadow: 0 0 3px 1px red;
}
