/* Import base styles */
@import url('base.css');

#security_button {
    z-index: var(--security-button-z-index);
}

#tables_view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--spacing);
    grid-row-gap: var(--spacing);
    flex: 2;
}

.table_item {
    height: 12rem;
    width: 12rem;

    /* STYLE */
    background-color: var(--background-color-light);
    color: white;
    border-radius: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table_item > p {
    /* TEXT STYLING */
    font-size: 1.5rem;
    font-weight: bold;
}

.table_order_view {
    /* hide the order from the begining */
    display: none;
    /* POSTIONING */
    /* uses the closest position: relative; as an anchor */
    position: absolute;
    top: 0;
    left: 0;
}

.inventory-item-data {
    font-size: var(--font-size-sm);
}

body.view-menu #btn_menu,
body.view-orders #btn_orders,
body.view-tables #btn_tables,
body.view-inventory #btn_inventory {
    background-color: var(--background-color-body);
    border-color: var(--border-color-dark);
}

#menu_view,
#table_view,
#orders_view,
#inventory_view {
    padding-bottom: var(--footer-height-offset);
    display: none;
}

body.view-menu #menu_view,
body.view-tables #table_view,
body.view-orders #orders_view,
body.view-inventory #inventory_view {
    display: flex;
}