/* Import base styles */
@import url('base.css');

#security_button {
    z-index: var(--security-button-z-index);
}

.order {
    font-size: var(--font-size-sm);
}

.order-item-id {
    font-size: var(--font-size-lg);
}

.card-title-tag {
    text-align: center;
    margin-right: var(--spacing);
    border-radius: var(--border-radius-lg);
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--text-color-brand);
}

.order-item-table-id,
.inventory-item-id {
    background-color: var(--brand-color);
}

.order-item-table-id {
    font-size: 0.8rem;
    margin-left: var(--spacing);
}

.order-item-price {
    width: 6rem;
    text-align: right;
}

.btn-order-move > svg {
    margin-left: var(--spacing-xsm);
}

.btn-order-move.icon-left > svg {
    margin-left: 0;
    margin-right: var(--spacing-xsm);
}

.inventory_item_low_stock {
    color: var(--error-color-text);
    background: var(--error-color);
}

.inventory-item-id {
    min-width: 4.5rem;
}

.inventory-item-description {
    font-size: var(--font-size-sm);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: var(--spacing);
}

.inventory-item-description:last-of-type {
    margin-right: 0;
}

.inventory_item_stock_text {
    flex: 1;
}

.inventory-item-stock {
    flex: 1;
}

.inventory-item-stock > input {
    text-align: center;
}

#edit_order_contents {
    font-size: var(--font-size-sm);
}

button.is-gift {
    background-color: var(--price-color);
    color: white;
}

#orders_nav_menu,
#inventory_nav_menu {
    display: none;
}

body.view-menu #btn_menu,
body.view-users #btn_users,
body.view-orders #btn_orders,
body.view-tables #btn_tables,
body.view-inventory #btn_inventory {
    background-color: var(--background-color-body);
    border-color: var(--border-color-dark);
}

#menu_view,
#table_view,
#users_view,
#orders_view,
#inventory_view {
    padding-bottom: var(--footer-height-offset);
    display: none;
}

body.view-menu #menu_view,
body.view-users #users_view,
body.view-tables #table_view,
body.view-orders #orders_view,
body.view-inventory #inventory_view,
body.view-inventory #inventory_nav_menu {
    display: flex;
}

body.subview-pending-orders #btn_pending_orders,
body.subview-completed-orders #btn_completed_orders {
    border-bottom-color: var(--brand-color);
}

@media screen and (max-width: 1024px) {
    .inventory-item-data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: var(--spacing);
        grid-column-gap: var(--spacing);
    }

    .inventory-item-data .inventory-item-description {
        margin: 0;
    }

    body.view-orders #orders_nav_menu {
        display: flex;
    }

    #orders_view {
        flex-direction: column;
    }

    .orders-view-list {
        margin: 0;
        margin-bottom: 0;
    }

    .order_empty_list_message,
    .orders-view-list .card:first-of-type {
        margin-top: 0;
    }

    #pending_orders,
    #completed_orders,
    #pending_orders_title,
    #completed_orders_title {
        display: none;
    }

    body.subview-pending-orders #pending_orders,
    body.subview-completed-orders #completed_orders {
        display: flex;
    }
}
