/* Import base styles */
@import url('../base.css');

body {
    background-color: var(--background-color-gray);
}

header {
    width: 100%;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-header);
}

.sub-header {
    width: 100%;
    height: var(--sub-header-height);
    border-top: 1px solid var(--background-color-light);
}

#total_products {
    color: var(--text-color-light);
    font-size: var(--font-size-sm);
}

#btn_filter {
    padding: 0 1.6rem;
}

#vip_footer {
    background-color: var(--background-color); 
}

body.logged-in #vip_login, #vip_footer, #vip_logout {
    display: none;
}

body.logged-in #vip_footer, body.logged-in #vip_logout {
    display: flex;
}

footer {
    background-color: white;
}
